@font-face {
  font-family: 'com_century-gothic';
  src: url('ufonts.com_century-gothic.ttf');
}
body {
  background-color: #f7f7f7;
  font-family: "com_century-gothic";
}
._nvyyp {
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
}
.btn {
  background-color: #64cbc8;
  border-color: #64cbc8;
  margin-top: 5px;
  margin-bottom: 0px;
}
.btn:hover {
  background-color: #8cd9d6;
  border-color: #8cd9d6;
}
h1 {
 text-align: center;
}